*{
	font-family: Vollkorn;
}
li{
	inline: left;
}

h1{
	padding: 25px;
	text-align: center;
}


p{
	font-size: 18px;
}

footer{
	padding-top: 25px;
	padding-bottom: 40px;
}

footer p{
	text-align: right;
}